@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800|Nunito:400,700,800|Material+Icons&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat';
  line-height: 1.5em;
}

p {
  line-height: 2em;
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 786px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 13px;
  }
}

a {
  color: inherit;
}

footer {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 2.5em 5vw;
  font-size: 0.85rem;

  > div {
    margin: 1em 2.5vw;

    &:not(:first-child) {
      min-width: fit-content;

      h6 {
        margin-bottom: 1.5em;
        text-transform: uppercase;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em 2.5em;

        a {
          &:hover {
            color: #000000;
          }
        }
      }
    }

    &.meta {
      display: flex;
      flex-direction: column;
      width: 22.5vw;
      min-width: 250px;

      img {
        width: 125px;
      }

      p {
        margin: 1em 0;
      }

      span {
        margin: 1em 0;
      }

      .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          margin: 1em;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

.ava-btn-group {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.ava-button {
  color: #0d1529;
  padding: 1em;
  margin: 1em 0;
  font-weight: 700;
  border: none !important;
  font-size: 0.85rem;
  height: unset;

  &:not(:first-of-type) {
    margin: 1em 1vw;
  }

  &:hover {
    color: #0d1529;
  }

  &.btn-primary {
    background-color: #fdb816;

    &:hover {
      background-color: #eba630;
    }
  }

  &.btn-secondary {
    background-color: #f5f6f7;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &.btn-middle {
    margin: 1.25em auto !important;
    display: flex;
    width: fit-content;
  }

  &.is-rounded {
    border-radius: 290486px;
  }
}

.ava-tabs {
  text-align: center;
  overflow-x: auto;

  li {
    display: inline-block;
    padding: 0.25em 1.25em;
    margin: 0 0.5vw;
    font-weight: 700;

    cursor: pointer;

    &.active {
      border-bottom: 2.5px solid #fdb816;
    }

    @media (max-width: 576px) {
      margin: 2.5vw;
    }
  }
}

.hl {
  background-color: #fdb816;
  padding: 0 0.25em;
}

.navbar {
  &.is-fixed-top {
    position: sticky;
  }

  a:hover,
  a:focus {
    color: inherit;
  }

  .navbar-menu {
    .navbar-item:not(.has-dropdown) {
      padding: 0.75em 1.75vw;
    }

    .dot {
      position: relative;

      &::after {
        content: '•';
        position: absolute;
        top: -5px;
        right: -10px;
        color: #e92554;
      }
    }

    .has-dropdown {
      .navbar-dropdown {
        padding: 0;
      }

      &:not(.is-hoverable) {
        .navbar-dropdown {
          max-height: 0;
          overflow: hidden;
          transition: all 0.3s ease;
        }
      }

      &.is-active {
        .navbar-dropdown {
          max-height: unset;
          overflow: unset;
        }
      }
    }

    .ava-button {
      padding: 1em 2.5em;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media (max-width: 1023px) {
      .navbar-item:not(.has-dropdown) {
        padding: 0.75em 1.75em;
      }

      .navbar-link:not(.is-arrowless) {
        padding: 0.75em 1.5em 0.75em 1.75em;
      }

      .navbar-item.has-dropdown {
        &.is-active {
          .navbar-link::after {
            transform: rotate(-225deg);
          }
        }

        .navbar-link::after {
          border-color: #000;
          transform: rotate(-45deg);
          transition: transform 0.3s ease;
        }

        .navbar-dropdown .navbar-item {
          background-color: #f5f5f5;
          padding: 1em 2.5em;
          font-size: 1rem !important;
        }
      }

      .ava-button {
        display: flex;
        margin: 1em 0;
      }
    }
  }
}

.header-channels {
  padding: 1.5em 5vw 1.5vw;
  overflow: hidden;

  h2 {
    position: relative;
    min-width: 250px;
    margin: 0.5em 0;
    z-index: 1;
  }

  .channels {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 10vw;
      background-image: url('/assets/images/channels.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 10em;
      width: 75em;
      transform: translate(0, -100%);
    }
  }
}

.features {
  background-color: #f4f7f9;
}

.feature {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  max-width: fit-content;
  padding: 2em 5vw;
  margin: auto;
  text-align: left;

  &:nth-child(even) {
    flex-direction: row-reverse !important;
  }

  &.flex-d-row-reverse {
    flex-direction: row-reverse !important;

    &:nth-child(even) {
      flex-direction: row !important;
    }
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 450px;
    margin: 1.5vw;

    h2 {
      margin: 0.5em 0;
    }
  }

  .feature-img {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }
}

.promo,
.event {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.125);

  &.expired {
    opacity: 0.75;
  }

  .image {
    height: 24em;
    width: 100%;
    background-color: #eeeae9;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em 0.5em 0 0;
  }

  .detail {
    padding: 1vw 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;

    > div {
      &:first-of-type {
        flex: 1;
        display: flex;
        align-items: center;
        min-height: 2.5em;
      }

      &:last-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-height: 200px;

        * {
          margin: 0.5em 0;
        }

        .ava-btn {
          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }

    hr {
      margin: 0.25em 0;
    }
  }
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  padding: 2.5vw 2vw 2vw;
  border-radius: 15px;

  &.hf-sticky {
    padding-top: 0;
    padding-bottom: 0;

    .modal-close {
      z-index: 2;
      top: 15px;
    }

    .modal-header-sticky {
      position: sticky;
      top: 0;
      background: white;
      padding: 1em 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .modal-footer-sticky {
      position: sticky;
      bottom: 0;
      background: white;
      padding: 0.25em 0;
    }
  }

  .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;

    &::before,
    &::after {
      background-color: #000000;
    }
  }

  h2 {
    padding: 0.5vw;
    margin-bottom: 1em;
  }

  table tbody {
    tr {
      border-bottom: 2px solid #eee;

      &.addon {
        td {
          &:first-child {
            padding-right: 2rem;
          }
        }
      }

      td {
        padding: 0.5vw;
      }
    }
  }
  ul {
    list-style: unset;

    li {
      margin-bottom: 0.5em;
    }
  }

  @media (max-width: 521px) {
    max-width: calc(100% - 30px) !important;
  }
}

.trial {
  background-color: #f4f7f9;
  padding: 2.5em 2.5em 5em;
  text-align: center;

  h2 {
    margin-bottom: 1em;
  }

  .ava-button {
    margin: 0;
  }
}
